nav, main, section, footer, #dropdown-menu {
    background-color: rgb(164, 205, 223);
}

#onlinePay {
    height: 90vh;
}
#onlinePay section {
    height: 70%;
    display: flex;
    flex-direction: column;
}